nav {
    background-color: rgb(62, 173, 25);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 160px;
    align-items: center;
    justify-content: space-between;
}

.app_name{
    font-size: 45px;
    margin-top: 20px;
    color: whitesmoke
}

.app_name:hover{
    cursor: pointer;
    transform: scale(1.2);
    color:rgb(247, 227, 5);
}

.home{
    font-size: 50px;
    margin-top: 25px;
    color: rgb(235,235,235);
}

.home:hover, .show_transactions:hover, .new_transaction:hover{
    color:rgb(247, 227, 5);
    cursor: pointer;
    transform: scale(1.2);
}

.show_transactions{
    font-size: 50px;
    margin-top: 25px;
    color:whitesmoke;
}

.new_transaction{
    font-size: 50px;
    margin-top: 25px;
    color:whitesmoke;
}